/*.suo
/GradientDescent/obj/Debug
/GradientDescent/bin/Debug
/GradientDescent/obj/Release
/GradientDescent/bin/Release
/GradientDescent/obj/x64/Debug
/GradientDescent/obj/x86/Debug
/GradientDescent/publish
